# pip-compile --upgrade --no-header --allow-unsafe requirements.in
# in case pip-compile is not available, do `pip install pip-tools`
# afterwards, `pip install -r requirements.txt`

django
gunicorn
requests
whitenoise
urllib3
